# Variables de entorno y secretos
.env
.env.*
!.env.example

# Entornos virtuales
venv/
.venv/
env/

# Bytecode y caches de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales
*.db
*.sqlite3

# Archivos de sistema y editores
.vscode/
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
*.temp
